<@page>
<div class="container" style="height:600px;">
	<div class="row">
		<div class="col-xs-3">
			</br>
			 <div class="nav-title tab">	
			 <a href="/How EasyLoan Works">How EasyLoan Works</a>
			 </div>
			 </br>
			 <div>
			 <a href="/What EasyLoan does (and does not) do">What EasyLoan does (and does not) do</a>
			 </div>
			 </br>
			 <div>
			 <a href="/The Process">The Process</a>
			 </div>
			 </br>
			 <div>
			 <a href="/Transfer of Funds and EMI Payments">Transfer of Funds and EMI Payments</a>
			 </div>
			 </br>
			 <div>
			 <a href="/Cancellation and Refund Policy">Cancellation and Refund Policy</a>
			 </div>
			 </br>
			 <div>
			 <a href="/The EasyLoan Experience">The EasyLoan Experience</a>
			 </div>
		</div>
		<div class="col-xs-9">
			<h2>
				<strong>How Does EasyLoan Works</strong>
			</h2>
			<p
			EasyLoan is an innovative peer-to-peer (P2P) lending marketplace for loans. Here Borrowers and Lenders interact amongst themselves to decide a mutually agreeable rate for their transactions (Loans). Our mission is to provide a marketplace that uses technology to speed up the process and cut costs. Thus, we provide an opportunity to the borrowers to get their requirements funded at viable rates and help lenders get the best possible return on their investment.
			</p>
			<p>
				Currently, our services can be availed only by Indian Residents. Once an interested individual seeks to register, we undertake a detailed verification process following KYC norms as laid down by various regulators. Thus, all personal and financial information pertaining to Borrowers and Lenders visible on EasyLoan has been verified.
			</p>
			<p>
				So go on and SIGN UP now to try out this new business opportunity because Every % Counts!
			</p>
		</div>
	</div>
</div>
		
</@page>





  