<@page>
	<section class="flex-sect">
	  <div class="container-width">
	    <div class="flex-title">Loans Made Easy
	    </div>
	    <div class="flex-desc">So We have simplified the process.</br>
	Apply for our loan in minutes, without painful paperwork or waiting in queues.
	    </div>
	    <div class="abc">
	    	<a href="http://localhost:8080/easyloan/list.html" class="btn btn-primary" style="width: 225px; float:right;">Lender</a>
	    	<button class="btn btn-success" style="width: 225px;float:right;margin-right: 50px;">Borrower</button>
	    </div>
	    <br />
	     <br />
	      <br />
	    <div class="cards">
	      <div class="card">
	        <div class="card-header">
	        </div>
	        <div class="card-body">
	          <div class="card-title">Balasubramanyam
	        </div>
	          <div class="card-sub-title">(Borrower)
	          </div>
	          <div class="card-desc">Services of NoBroker team, I really would like to appreciate positive and quick responses from you guys.     
	          </div>
	        </div>
	      </div>
	      <div class="card">
	        <div class="card-header ch2">
	        </div>
	        <div class="card-body">
	          <div class="card-title">Prabhu dev
	          </div>
	          <div class="card-sub-title">(Borrower)
	          </div>
	          <div class="card-desc">I have got a genuine and very quick response from the site. I am very happy with service of NoBroker.com
	          </div>
	        </div>
	      </div>
	      <div class="card">
	        <div class="card-header ch3">
	        </div>
	        <div class="card-body">
	          <div class="card-title">Neetha Nayak
	          </div>
	          <div class="card-sub-title">(Borrower)
	          </div>
	          <div class="card-desc">Unique concept excellent service.Nobroker helped me get a Lender in less than 24hours. 
	          </div>
	        </div>
	      </section>
	      
	<section class="am-sect">
	  <div class="container-width">
	    <div class="am-container">
	 	<div class="am-content">
	        <div class="am-title">Benefits from taking Personal Loan with NoBroker
	        </div>
	      <img src="https://www.lendbox.in/static/images/background/instant-personal-loan-online.png" class="img-phone"/>
	      <br />
	       <br />
	        <br />
	         <br />
	     <img src="/easyloan/static/img/calc.png" class="img-phone" style="width:100%;"/>
	
	      </div>
	    </div>
	  </div>
	</section>
</@page>